.mainHeader {
  position: relative;
  height: 144px;
  /* #2dce78 (alpha: 80%) to #3db599 */
  background: linear-gradient(rgba(45, 206, 120, 0.8), #3db599);
  color: #ffffff;
}

.headline {
  display: flex;
  padding: 16px;
}

.avatar {
  margin-right: 22px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1;
}

.title {
  font-size: 14px;
  margin-bottom: 6px;
}

.price {
  font-size: 28px;
  font-weight: 400;
}

.btnWrap {
  text-align: center;
}

.headerBtn {
  display: inline-block;
  width: 110px;
  padding: 8px 0;
  margin: 0 8px;
  color: #3db599;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 5px;
  background-color: #ffffff;
  text-decoration: none;
}

.btnSettleUp {
  composes: headerBtn;
  background-color: rgba(255, 255, 255, 0.75);
}

.btnAddRecord {
  composes: headerBtn;
}
